/* src/components/Layout.module.css */
.header {
  /* Existing styles for the header, such as background, padding, etc. */
  background-color: #333;
  color: white;
  padding: 1rem;

  /* Updated style to make the header fixed at the top, move links to the right, and add space from right */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem; /* Add right padding to create space from right */
  height: 30px;
}

.navLinks {
  /* New style to align links to the right */
  display: flex;
  gap: 1rem;
}

.navLinks a {
  /* Additional styles for the links */
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navLinks a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.activeLink {
  /* Style for active link */
  background-color: rgba(255, 255, 255, 0.2);
}

/* Style for Portfolio link when active */
.navLinks .activeLink[href="/#portfolio"] {
  background-color: rgba(255, 255, 255, 0.2);
}

.content {
  /* Existing styles for the content */
  /* Adjust the value to match the fixed header's height */
  height: calc(100vh - 114px); /* header + footer height = 114px*/
  margin-top: 62px; /* This is exact height of header*/
}

.portfolioLink {
  /* Additional styles for the Portfolio link */
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.portfolioLink:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.activePortfolioLink {
  /* Style for the active "Portfolio" link */
  background-color: rgba(255, 255, 255, 0.2);
  /* Add any other styles you want for the active "Portfolio" link */
}

/* ... (existing styles for header and navigation) */

.footer {
  /* Styles for the footer */
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
}

.footer p {
  margin: 0;
}

/* ... (existing styles for content and portfolio link) */
